<app-navbar></app-navbar>
<div class="row">
  <div class="col-7 mx-auto">
    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="mt-5 btn btn-success">Create task</button>

    <table class="table mt-5">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Location</th>
          <th>Budget</th>
          <th>Dépenses</th>
          <th class="Target-column" *ngIf="task.target.Men">Target</th>
          <th class="date-column">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.name || 'N/A' }}</td>
          <td>{{ task.type || 'N/A' }}</td>
          <td>{{ task.description || 'N/A' }}</td>
          <td>{{ task.location || 'N/A' }}</td>
          <td>{{ task.budget || 'N/A' }}</td>
          <td>{{ task.depenses || 'N/A' }}</td>
          <td>
            <select class="form-control m-1">
              <option *ngFor="let item of task.target">{{ item }}</option>
            </select>
          </td>
          <td class="date-column">{{ task.date | date: 'short' }}</td>
          <td>
            <button (click)="edit(task._id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning">Edit</button>
          </td>
          <td>
            <button (click)="delete(task._id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new task</h5>
            <button type="button" class="btn-close" (click)="updateStep = false" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label>Name</label>
            <input [(ngModel)]="task.name" type="text" class="form-control m-1" placeholder="Name">
            <label>Type</label>
            <div>
              <select [(ngModel)]="task.type" id="type" class="form-control m-1">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
              </select>
            </div>
            <label>Location</label>
            <input [(ngModel)]="task.location" type="text" class="form-control m-1" placeholder="Location">
            <label>Description</label>
            <input [(ngModel)]="task.description" type="text" class="form-control m-1" placeholder="Description">
            <label>Budget</label>
            <input [(ngModel)]="task.budget" type="text" class="form-control m-1" placeholder="Budget">
            <label>Dépenses</label>
            <input [(ngModel)]="task.depenses" type="text" class="form-control m-1" placeholder="Dépenses">
            <fieldset>
              <legend>Target</legend>
            
              <div>
                <input type="checkbox" id="All" name="All" checked />
                <label for="All">All</label>
              </div>
            
              <div>
                <input type="checkbox" id="Men" name="Men" />
                <label for="Men">Men</label>
              </div>
              <div>
                <input type="checkbox" id="Women" name="Women" />
                <label for="Women">Women</label>
              </div>
              <div>
                <input type="checkbox" id="Under" name="Under" />
                <label for="Under">Under 35</label>
              </div>
              <div>
                <input type="checkbox" id="Over" name="Over" />
                <label for="Over">Over 35</label>
              </div>
            </fieldset>
            <label>Photo</label>
            <div class="form-control m-1">
              <!-- Photo input goes here -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" *ngIf="!updateStep" class="btn btn-secondary" data-bs-dismiss="modal" (click)="save()">Save</button>
            <button type="button" *ngIf="updateStep" class="btn btn-secondary" data-bs-dismiss="modal" (click)="update()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
