<nav class="navbar">
    <ul class="nav nav-pills " id="menu">

        <li class="navbar-item"><a href="/home" >Home</a></li>

        <li  class="navbar-item"  *ngIf="permissions.includes('66693007e9b2b5672be9fcbf')" ><a href="/task" routerLinkActive="active">Tasks</a></li>

        <li class="navbar-item"><a href="/accounts"  >Manage Account</a></li>
        <li class="navbar-item" *ngIf="permissions.includes('66693082e9b2b5672be9fcc3')"><a href="/finance" routerLinkActive="active">Finance</a></li>
        <li class="navbar-item"  *ngIf="permissions.includes('66693050e9b2b5672be9fcc1')" ><a href="/users" routerLinkActive="active">Users</a></li>
          
    </ul>
</nav>